<div class="row">
    {{#each users}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <a href="/schedule/edit/{{_id}}">
                    <i class="fas fa-pen-alt offset-md-10"></i>
                </a>
                <div class="col-md-6">
                    <h6>nomnre</h6>
                    <label>{{name}}</label>
                </div>
                <div class="col-md-6">
                    <h6>Hora Inicio</h6>
                    <label>{{schedule.timeInit}}</label>
                </div>
                <div class="col-md-6">
                    <h6>Hora Fin</h6>
                    <label>{{schedule.timeEnd}}</label>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>